lib/Master_FTOT_Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="Schema_v6.0.0"
xmlns="Schema_v6.0.0"
elementFormDefault="qualified">
<xs:element name="Scenario">
    <xs:complexType>
		<xs:sequence>
			<xs:element name="Scenario_Schema_Version" type="xs:string" default="6.0.2" />
			<xs:element name="Scenario_Name" type="xs:string" default="USER INPUT REQUIRED: replace this string with a descriptive Scenario Name" />
			<xs:element name="Scenario_Description" type="xs:string" default="USER INPUT REQUIRED: replace this string with a descriptive Scenario Description"/>

			<xs:element name="Scenario_Inputs">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Common_Data_Folder" type="xs:string" default="USER INPUT REQUIRED" />
						<xs:element name="Base_Network_Gdb" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Disruption_Data" type="xs:string" default="None"/>
						<xs:element name="Base_RMP_Layer" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Base_Destination_Layer" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Base_Processors_Layer" type="xs:string" default="USER INPUT REQUIRED"/>

						<xs:element name="RMP_Commodity_Data" type="xs:string" default="USER INPUT REQUIRED" />
						<xs:element name="Destinations_Commodity_Data" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Processors_Commodity_Data" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Processors_Candidate_Commodity_Data" type="xs:string" default="USER INPUT REQUIRED"/>
			   			<xs:element name="Schedule_Data" type="xs:string" default="None"/>
						<xs:element name="Commodity_Mode_Data" type="xs:string" default="None"/>
						<xs:element name="Commodity_Density_Data" type="xs:string" default="None" minOccurs="0"/>
						<xs:element name="Default_Units_Solid_Phase" type="xs:string" default="tonnes"/>
						<xs:element name="Default_Units_Liquid_Phase" type="xs:string" default="kgal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Assumptions">
				<xs:complexType>
					<xs:sequence>
						 <xs:element name="Truck_Load_Solid" type="xs:string" default="24 tonne"/> 
						 <xs:element name="Railcar_Load_Solid" type="xs:string" default="82 tonne"/> 
						 <xs:element name="Barge_Load_Solid" type="xs:string" default="700 tonne"/> 

						 <xs:element name="Truck_Load_Liquid" type="xs:string" default="8 kgal"/> 
						 <xs:element name="Railcar_Load_Liquid" type="xs:string" default="28.5 kgal"/> 
						 <xs:element name="Barge_Load_Liquid" type="xs:string" default="2100 kgal"/> 
						 <xs:element name="Pipeline_Crude_Load_Liquid" type="xs:string" default="3150 kgal"/> 
						 <xs:element name="Pipeline_Prod_Load_Liquid" type="xs:string" default="3150 kgal"/> 

						<xs:element name="Truck_Fuel_Efficiency" type="xs:string" default = "7.4 mi/gal"/>
						<xs:element name="Rail_Fuel_Efficiency" type="xs:string" default = "10.15 mi/gal"/>
						<xs:element name="Barge_Fuel_Efficiency" type="xs:string" default = "5.00 mi/gal"/>

						<xs:element name="Atmos_CO2_Urban_Unrestricted" type="xs:string" default = "1550.19 g/mi"/>
						<xs:element name="Atmos_CO2_Urban_Restricted" type="xs:string" default = "1343.74 g/mi"/>
						<xs:element name="Atmos_CO2_Rural_Unrestricted" type="xs:string" default = "1360.18 g/mi"/>
						<xs:element name="Atmos_CO2_Rural_Restricted" type="xs:string" default="1338.31 g/mi"/>

						<xs:element name="Railroad_CO2_Emissions" type="xs:string" default = "21.3 g/ton/mi"/>
						<xs:element name="Barge_CO2_Emissions" type="xs:string" default = "37.9 g/ton/mi"/>
						<xs:element name="Pipeline_CO2_Emissions" type="xs:string" default = "0.0 g/ton/mi"/>
						
						<xs:element name="Detailed_Emissions_Reporting" default="False" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="True|False"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="Density_Conversion_Factor" type="xs:string" default = "3.33 ton/kgal" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="scriptParameters">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Create_Network_Layer_Script">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Network_Costs">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Modal_Costs">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Railroad">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="liquid_Railroad_Class_I_Cost" type="xs:string" default = "0.14 usd/kgal/mi"/>
																		<xs:element name="solid_Railroad_Class_I_Cost" type="xs:string" default = "0.047 usd/tonne/mi"/>
																		<xs:element name="Rail_Density_Code_7_Weight" default = "1.0">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_6_Weight" default = "1.1">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_5_Weight" default = "1.2">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_4_Weight" default = "1.3">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_3_Weight" default = "1.4">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_2_Weight" default = "1.5">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_1_Weight" default = "1.6">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_0_Weight" default = "10.0">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="Truck">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="liquid_Truck_Base_Cost" type="xs:string"  default = "0.66 usd/kgal/mi"/>
																		<xs:element name="solid_Truck_Base_Cost" type="xs:string" default = "0.22 usd/tonne/mi"/>
																		<xs:element name="Truck_Interstate_Weight" default = "1.0">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Truck_Principal_Arterial_Weight" default = "1.1">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Truck_Minor_Arterial_Weight" default = "1.2">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Truck_Local_Weight" default = "1.3">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="Barge">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="liquid_Barge_cost" type="xs:string" default = "0.097 usd/kgal/mi"/>
																		<xs:element name="solid_Barge_cost" type="xs:string"  default = "0.032 usd/tonne/mi"/>
																		<xs:element name="Water_High_Volume_Weight" default = "1.00">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Water_Medium_Volume_Weight" default = "1.3">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Water_Low_Volume_Weight" default = "1.6">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Water_No_Volume_Weight"  default = "10">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												
												<xs:element name="Intermodal_Transloading_Costs">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="liquid_Transloading_Cost" type="xs:string" default = "40.00 usd/kgal"/>
															<xs:element name="solid_Transloading_Cost" type="xs:string" default = "12.35 usd/tonne"/>														
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									
									<xs:element name="Artificial_Links">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Road_Max_Artificial_Link_Distance" type="xs:string" default = "5 mi"/>
												<xs:element name="Rail_Max_Artificial_Link_Distance" type="xs:string" default = "5 mi"/>
												<xs:element name="Water_Max_Artificial_Link_Distance" type="xs:string" default = "5 mi"/>
												<xs:element name="Pipeline_Crude_Max_Artificial_Link_Distance" type="xs:string" default = "5 mi"/>
												<xs:element name="Pipeline_Products_Max_Artificial_Link_Distance" type="xs:string" default = "5 mi"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="Short_Haul_Penalties">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="liquid_Rail_Short_Haul_Penalty" type="xs:string" default = "71.8 usd/kgal"/>
												<xs:element name="solid_Rail_Short_Haul_Penalty" type="xs:string" default = "23.9 usd/tonne"/>
												<xs:element name="liquid_Water_Short_Haul_Penalty" type="xs:string" default = "76.1 usd/kgal"/>
												<xs:element name="solid_Water_Short_Haul_Penalty" type="xs:string" default = "25.4 usd/tonne"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									
								</xs:sequence>
							</xs:complexType>
						</xs:element>

									

						<xs:element name="Route_Optimization_Script">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NDR_On" default="False">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="True|False"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Permitted_Modes">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Road"  default = "True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Rail"  default = "True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Water" default = "True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Pipeline_Crude"  default = "True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Pipeline_Prod" default = "True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="Capacity_Options">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Capacity_On"  default = "False">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Background_Flows"  >
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Road"  default = "False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Rail"  default = "False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Water"  default = "False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Pipeline_Crude"  default = "False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Pipeline_Prod"  default="False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Minimum_Capacity_Level"  default="0.00">
													 <xs:simpleType>
														<xs:restriction base="xs:double">
															<xs:minInclusive value="0" />
															<xs:maxInclusive value="1" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="Unmet_Demand_Penalty"  default="5000">
										<xs:simpleType>
											<xs:restriction base="xs:double">
												<xs:minInclusive value="0" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
