program/lib/Master_FTOT_Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="FTOTv5.0.0"
xmlns="FTOTv5.0.0"
elementFormDefault="qualified">
<xs:element name="Scenario">
    <xs:complexType>
		<xs:sequence>
			<xs:element name="Scenario_Schema_Version" type="xs:string" default="5.0.0" />
			<xs:element name="Scenario_Name" type="xs:string" default="USER INPUT REQUIRED: replace this string with a descriptive Scenario Name" />
			<xs:element name="Scenario_Description" type="xs:string" default="USER INPUT REQUIRED: replace this string with a descriptive Scenario Description"/>

			<xs:element name="Scenario_Inputs">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Common_Data_Folder" type="xs:string" default="USER INPUT REQUIRED" />
						<xs:element name="Base_Network_Gdb" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Base_RMP_Layer" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Base_Destination_Layer" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Base_Processors_Layer" type="xs:string" default="USER INPUT REQUIRED"/>

						<xs:element name="RMP_Commodity_Data" type="xs:string" default="USER INPUT REQUIRED" />
						<xs:element name="Destinations_Commodity_Data" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Processors_Commodity_Data" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Processors_Candidate_Commodity_Data" type="xs:string" default="USER INPUT REQUIRED"/>
			   			<xs:element name="Schedule_Data" type="xs:string" default="USER INPUT REQUIRED" minOccurs="0"/>
						<xs:element name="Commodity_Mode_Data" type="xs:string" default="USER INPUT REQUIRED" minOccurs="0"/>
						<xs:element name="Default_Units_Solid_Phase" type="xs:string" default="tonnes"/>
						<xs:element name="Default_Units_Liquid_Phase" type="xs:string" default="kgal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Assumptions">
				<xs:complexType>
					<xs:sequence>
						 <xs:element name="Truck_Load_Solid" type="xs:string" default="24 tonne"/> 
						 <xs:element name="Railcar_Load_Solid" type="xs:string" default="82 tonne"/> 
						 <xs:element name="Barge_Load_Solid" type="xs:string" default="700 tonne"/> 

						 <xs:element name="Truck_Load_Liquid" type="xs:string" default="8 kgal"/> 
						 <xs:element name="Railcar_Load_Liquid" type="xs:string" default="28.5 kgal"/> 
						 <xs:element name="Barge_Load_Liquid" type="xs:string" default="2100 kgal"/> 
						 <xs:element name="Pipeline_Crude_Load_Liquid" type="xs:string" default="3150 kgal"/> 
						 <xs:element name="Pipeline_Prod_Load_Liquid" type="xs:string" default="3150 kgal"/> 

						<xs:element name="Truck_Fuel_Efficiency_MilesPerGallon" default = "5.8">
							<xs:simpleType>
								<xs:restriction base="xs:double">
									<xs:minInclusive value="0" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Rail_Fuel_Efficiency_MilesPerGallon" default = "10.15">
							<xs:simpleType>
								<xs:restriction base="xs:double">
									<xs:minInclusive value="0" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Barge_Fuel_Efficiency_MilesPerGallon" default = "5.00">
							<xs:simpleType>
								<xs:restriction base="xs:double">
									<xs:minInclusive value="0" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="Atmos_CO2_Urban_Unrestricted" default = "2393.08">
							<xs:simpleType>
								<xs:restriction base="xs:double">
									<xs:minInclusive value="0" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Atmos_CO2_Urban_Restricted" default = "1993.25">
							<xs:simpleType>
								<xs:restriction base="xs:double">
									<xs:minInclusive value="0" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Atmos_CO2_Rural_Unrestricted" default = "1922.52">
							<xs:simpleType>
								<xs:restriction base="xs:double">
									<xs:minInclusive value="0" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Atmos_CO2_Rural_Restricted" default="1930.87">
							<xs:simpleType>
								<xs:restriction base="xs:double">
									<xs:minInclusive value="0" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Railroad_CO2_Emissions_g_ton_mile" default = "21.3">
							<xs:simpleType>
								<xs:restriction base="xs:double">
									<xs:minInclusive value="0" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Barge_CO2_Emissions_g_ton_mile" default = "29.5">
							<xs:simpleType>
								<xs:restriction base="xs:double">
									<xs:minInclusive value="0" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Pipeline_CO2_Emissions_g_ton_mile" default = "0.0">
							<xs:simpleType>
								<xs:restriction base="xs:double">
									<xs:minInclusive value="0" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="scriptParameters">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Create_Network_Layer_Script">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Network_Costs">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Intermodal_Costs">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Railroad">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="liquid_Railroad_Class_I_Cost" default = "0.12">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="-1" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="solid_Railroad_Class_I_Cost" default = "0.0037">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="-1" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_7_Weight" default = "1.0">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_6_Weight" default = "1.1">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_5_Weight" default = "1.2">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_4_Weight" default = "1.3">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_3_Weight" default = "1.4">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_2_Weight" default = "1.5">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_1_Weight" default = "1.6">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Rail_Density_Code_0_Weight" default = "10.0">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="Truck">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="liquid_Truck_Base_Cost" default = "0.45">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="-1" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="solid_Truck_Base_Cost" default = "0.139">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="-1" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Truck_Interstate_Weight" default = "1.0">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Truck_Principal_Arterial_Weight" default = "1.1">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Truck_Minor_Arterial_Weight" default = "1.2">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Truck_Local_Weight" default = "1.3">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="Barge">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="liquid_Barge_cost" default = "1.00">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="-1" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="solid_Barge_cost" default = "1.10">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="-1" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Water_High_Volume_Weight" default = "1.00">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Water_Medium_Volume_Weight" default = "1.3">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Water_Low_Volume_Weight" default = "1.6">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Water_No_Volume_Weight"  default = "10">
																			<xs:simpleType>
																				<xs:restriction base="xs:double">
																					<xs:minInclusive value="0" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="Intermodal_Transloading_Costs">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="transloading_dollars_per_ton" default = "12.35">
																<xs:simpleType>
																	<xs:restriction base="xs:double">
																		<xs:minInclusive value="-1" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="transloading_dollars_per_thousand_gallons" default = "40.00">
																<xs:simpleType>
																	<xs:restriction base="xs:double">
																		<xs:minInclusive value="-1" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									
									<xs:element name="Artificial_Links">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Road_Max_Artificial_Link_Distance_Miles" default = "5">
													<xs:simpleType>
														<xs:restriction base="xs:double">
															<xs:minInclusive value="0" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Rail_Max_Artificial_Link_Distance_Miles" default = "5">
													<xs:simpleType>
														<xs:restriction base="xs:double">
															<xs:minInclusive value="0" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Water_Max_Artificial_Link_Distance_Miles" default = "5">
													<xs:simpleType>
														<xs:restriction base="xs:double">
															<xs:minInclusive value="0" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Pipeline_Crude_Max_Artificial_Link_Distance_Miles" default = "5">
													<xs:simpleType>
														<xs:restriction base="xs:double">
															<xs:minInclusive value="0" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Pipeline_Products_Max_Artificial_Link_Distance_Miles" default = "5">
													<xs:simpleType>
														<xs:restriction base="xs:double">
															<xs:minInclusive value="0" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>	
								</xs:sequence>
							</xs:complexType>
						</xs:element>

									

						<xs:element name="Route_Optimization_Script">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NDR_On" default="False" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="True|False"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Permitted_Modes">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Road"  default = "True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Rail"  default = "True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Water" default = "True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Pipeline_Crude"  default = "True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Pipeline_Prod" default = "True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="Capacity_Options">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Capacity_On"  default = "False">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Background_Flows"  >
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Road"  default = "False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Rail"  default = "False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Water"  default = "False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Pipeline_Crude"  default = "False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Pipeline_Prod"  default="False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Minimum_Capacity_Level"  default="0.00">
													 <xs:simpleType>
														<xs:restriction base="xs:double">
															<xs:minInclusive value="0" />
															<xs:maxInclusive value="1" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="Penalty_For_Not_Fulfilling_Depot_Demand"  default="5000">
										<xs:simpleType>
											<xs:restriction base="xs:double">
												<xs:minInclusive value="0" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element name="Pulp_Solve_Options">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="maxSeconds"  default = "36000">
													 <xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:minInclusive value="1" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="fracGap"  default = "1.00">
													 <xs:simpleType>
														<xs:restriction base="xs:double">
															<xs:minInclusive value="0" />
															<xs:maxInclusive value="1" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="Data_Reports_Script">
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
