program/lib/Master_FTOT_Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="Schema_v8.0.0"
xmlns="Schema_v8.0.0"
elementFormDefault="qualified">
<xs:element name="Scenario">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Scenario_Schema_Version" type="xs:string" default="8.0.0"/>
			<xs:element name="Scenario_Name" type="xs:string" default="USER INPUT REQUIRED: replace this string with a descriptive Scenario Name"/>
			<xs:element name="Scenario_Description" type="xs:string" default="USER INPUT REQUIRED: replace this string with a descriptive Scenario Description"/>

			<xs:element name="Scenario_Inputs">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Common_Data_Folder" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Base_Network_Gdb" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Disruption_Data" type="xs:string" default="None"/>
						<xs:element name="Base_RMP_Layer" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Base_Destination_Layer" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Base_Processors_Layer" type="xs:string" default="None"/>

						<xs:element name="RMP_Commodity_Data" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Destinations_Commodity_Data" type="xs:string" default="USER INPUT REQUIRED"/>
						<xs:element name="Processors_Commodity_Data" type="xs:string" default="None"/>
						<xs:element name="Processors_Candidate_Commodity_Data" type="xs:string" default="None"/>
						<xs:element name="Schedule_Data" type="xs:string" default="None"/>
						<xs:element name="Commodity_Mode_Data" type="xs:string" default="None"/>
						<xs:element name="Commodity_Density_Data" type="xs:string" default="None"/>
						<xs:element name="Default_Units_Solid_Phase" type="xs:string" default="tons"/>
						<xs:element name="Default_Units_Liquid_Phase" type="xs:string" default="thousand_gallon"/>
						<xs:element name="Default_Units_Distance" type="xs:string" default="miles"/>
						<xs:element name="Default_Units_Currency" type="xs:string" default="usd"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Assumptions">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Truck_Load_Solid" type="xs:string" default="26 ton"/>
						<xs:element name="Railcar_Load_Solid" type="xs:string" default="100 ton"/>
						<xs:element name="Barge_Load_Solid" type="xs:string" default="1500 ton"/>

						<xs:element name="Truck_Load_Liquid" type="xs:string" default="8 thousand_gallon"/>
						<xs:element name="Railcar_Load_Liquid" type="xs:string" default="30 thousand_gallon"/>
						<xs:element name="Barge_Load_Liquid" type="xs:string" default="454 thousand_gallon"/>
						<xs:element name="Pipeline_Crude_Load_Liquid" type="xs:string" default="3150 thousand_gallon"/>
						<xs:element name="Pipeline_Prod_Load_Liquid" type="xs:string" default="3150 thousand_gallon"/>

						<xs:element name="Truck_Fuel_Efficiency" type="xs:string" default="195.2 ton*mi/gal"/>
						<xs:element name="Railcar_Fuel_Efficiency" type="xs:string" default="471.0 ton*mi/gal"/>
						<xs:element name="Barge_Fuel_Efficiency" type="xs:string" default="618.3 ton*mi/gal"/>

						<xs:element name="Truck_CO2_Emissions" type="xs:string" default="1384.06 g/mi"/>
						<xs:element name="Railcar_CO2_Emissions" type="xs:string" default="21.54 g/ton/mi"/>
						<xs:element name="Barge_CO2_Emissions" type="xs:string" default="34.72 g/ton/mi"/>
						<xs:element name="Pipeline_CO2_Emissions" type="xs:string" default="0.0 g/ton/mi"/>

						<xs:element name="Detailed_Emissions_Data" type="xs:string" default="None"/>

						<xs:element name="Density_Conversion_Factor" type="xs:string" default="3.33 ton/thousand_gallon"/>

						<xs:element name="Speed_Time_Data" type="xs:string" default="None"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="scriptParameters">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Create_Network_Layer_Script">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Network_Costs">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Modal_Costs">
													<xs:complexType>
														<xs:sequence>
                                                            <xs:element name="Truck_Base_Cost" type="xs:string" default="0.21 usd/tonne/mi"/>
    														<xs:element name="Railroad_Class_I_Cost" type="xs:string" default="0.048 usd/tonne/mi"/>
															<xs:element name="Barge_Base_Cost" type="xs:string" default="0.032 usd/tonne/mi"/>
															<xs:element name="Impedance_Weights_Data" type="xs:string" default="None"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="Intermodal_Transloading_Costs">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Transloading_Cost" type="xs:string" default="12.35 usd/tonne"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

                                                <xs:element name="Artificial_Link_Costs" minOccurs = "0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Artificial_Link_Cost" type="xs:string" default="0.21 usd/tonne/mi" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="Artificial_Links">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Road_Max_Artificial_Link_Distance" type="xs:string" default="5 mi"/>
												<xs:element name="Rail_Max_Artificial_Link_Distance" type="xs:string" default="5 mi"/>
												<xs:element name="Water_Max_Artificial_Link_Distance" type="xs:string" default="5 mi"/>
												<xs:element name="Pipeline_Crude_Max_Artificial_Link_Distance" type="xs:string" default="5 mi"/>
												<xs:element name="Pipeline_Products_Max_Artificial_Link_Distance" type="xs:string" default="5 mi"/>
												<xs:element name="Report_With_Artificial_Links" default="False" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="Short_Haul_Penalties">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Rail_Short_Haul_Penalty" type="xs:string" default="100 mi"/>
												<xs:element name="Water_Short_Haul_Penalty" type="xs:string" default="100 mi"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="Route_Optimization_Script">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NDR_On" default="False">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="True|False"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Permitted_Modes">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Road" default="True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Rail" default="True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Water" default="True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Pipeline_Crude" default="True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Pipeline_Prod" default="True">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="Capacity_Options">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Capacity_On" default="False">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="True|False"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Background_Flows">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Road" default="False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Rail" default="False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Water" default="False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Pipeline_Crude" default="False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Pipeline_Prod" default="False">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="True|False"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Minimum_Capacity_Level" default="0.00">
													<xs:simpleType>
														<xs:restriction base="xs:double">
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
                                    
                                    <xs:element name="CO2_Optimization" minOccurs = "0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Transport_Cost_Scalar" default="1.0" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:double">
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CO2_Cost_Scalar" default="0.0" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:double">
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="1"/>
														</xs:restriction>
													</xs:simpleType>
                                                </xs:element>
                                                <xs:element name="CO2_Unit_Cost" type="xs:string" default="0.0002105414603865581 USD/gram" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="Solver_Options" minOccurs = "0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Solver" type="xs:string" default="Default" minOccurs="0"/>
												<xs:element name="Solver_Time_Limit" type="xs:string" default="None" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Unmet_Demand_Penalty" default="5000">
										<xs:simpleType>
											<xs:restriction base="xs:double">
												<xs:minInclusive value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>
